@media (min-width:1201px) {
    .chaticon, .newfooter{
        display: none;
    } 
}
.secondcol{

    height:  calc(100vh - 40px)
 }
.feedphoto{
    height:340px
}
/* .secondcol: calc(100% - 64px) */
@media (max-width:1200px) {
    .firstcol{
        display: none !important
    }
    .thirdcol,.footerheader,.unihomelogo{
        display: none !important
    }
    .secondcol,.second-header{
        width: 100%;
        /* height: calc(100vh - 120px);s */
    }
    .secondcol{

       height:  calc(100vh - 123px)
    }
    .footerheader{
        display: none;
    }
    .chaticon{
        display: block;
    }
    .newfooter{
        bottom: 0px;
    color: black;
    width: 100%;
    padding: 0;
    clear: both;
    position: fixed;
     background-color: white;
    }
    /* .feedphoto{
        width: 100vh;
        height: calc(100% - 285px);
    } */
}

@media (orientation: landscape) and (min-width:1270px) {
    .newfooter{
        bottom: 0px;
    color: black;
    width: 100%;
    padding: 0;
    clear: both;
    position: fixed;
     background-color: white;
     
    }
    .secondcol{

        height:  calc(100vh - 100px)
     }
    .secondcol{
        margin-bottom: 67px;
    }
  }
  